* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: none;
}

.container {
	width: 100%;
	height: 100vh;
	background-image: url(portfolio2.jpeg);
	background-blend-mode: color;
	background-position: center;
	background-color: rgba(130, 130, 130, 0.5);
}

.container .header {
	width: 75%;
	height: 75px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .nav ul li {
	display: inline-block;
	margin: 0;
	font-size: large;
}

.container .nav ul li a {
	color: white;
}

.container .nav ul {
	word-spacing: 15px;
}

.container .nav ul li a:hover {
	color: cornflowerblue;
}

.container .header h1 a {
	color: white;
}

.describe h1 {
	color: white;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}

.describe {
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.describe h2 pre button {
	color: white;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
}

.describe h2 pre button {
	background: none;
	border: 2.5px solid cornflowerblue;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
	margin-top: 0px;
	outline: none;
	cursor: pointer;
	transition: all 0.4s;
}

.describe h2 pre button:hover {
	background-color: cornflowerblue;
}

.describe h2 pre {
	position: relative;
	top: 60px;
}

.programming img {
	margin-top: 1000px;
	size: 1%;
}
